body {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #eee;
  margin-left: 15px;
  margin-right: 15px;  
  overflow-y: auto;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.icon-text-container {
  display: flex;
  align-items: start;
}

.icon {
  margin-right: 5px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.iconGit {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}

.chad-wisdom {
  width: auto;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #555;
  overflow-y: auto;
  position: relative;
}

.chad-wisdom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #555;
}


.box {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.title {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.title h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.element>* {
  margin-top: 15px;
}

.element p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.text {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  text-align: left;
  resize: none;
  box-sizing: border-box;
}

.oneRow {
  height: 25px;
}

.slider {
  width: 100%;
}